*{
font-family: Arial, Helvetica, sans-serif;
}

/* Custom Properties */

:root {
  --ff-primary: Arial, sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-bg: #fff;
  --clr-light: #00a0d0;
  --clr-dark: #303030;
  --clr-accent: #09406a;
 
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: .25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125 0.25em rgba(0,0,0,.15);
}

/* Footer */

footer{
  text-align: center;
background-color: var(--clr-light);
}

footer ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

footer a{
cursor: pointer;
margin: 10px;
font-size: 50px;
color: var(--clr-bg);
}

footer i{
  padding-top: 15px;
}

footer i:hover{
  opacity: 70%;
}

footer p {
  text-align: center;
  margin-left: 45px;
  color: var(--clr-bg);
}

/* LFCD_LOGO_(300dpi) 1 */
#lfcd-logo{
display: flex;
max-width: 250px;
  margin-left: 30px;
  cursor: pointer;
}

main{
  margin-left: 10%;
  margin-right: 10%;
}

/* Nav Bar */
nav {
  background-color: var(--clr-accent);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
  padding:10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-top: 5px;
  padding: 5px;
  border: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 1px;
  margin-top: 10px;
  margin-left: -10px;
  border: 1px solid black;
  justify-content: center;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

nav ul ul a:hover {
  background-color: none;
  list-style-type: none;
  color: #fff;
}

nav li:hover > a {
  background-color: none;
  list-style-type: none;
}

nav li:hover a {
  color: black;
  list-style-type: none;
}

.drop-element{
  padding: 1px solid;
}

 nav li.drop-element {
  color: black;
  list-style-type: none;
 }

 nav li.drop-element a:hover {
  background-color: var(--clr-light);
  list-style-type: none;
 }

 .nav-toggle{
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

/* Slideshow */
.slideshow-container {
  position: relative;
  height: 750px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.slideshow-container img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-container img.active {
  opacity: 1;
}

/* Misc Home Page Styling */

#banner{
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

#about{
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 20px;
}

#about h1 {
  justify-content: center;
  text-align: center;
}

#about p {
  text-align: center;
}

.ceo-pic {
  float: right;
  padding-right: 225px;
}

.container {
  overflow: hidden;
}

.text {
  display: flex;
  float: left;
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}


/* Media Queries */
@media (max-width: 768px) {
  /* styles for mobile devices */
  /* ... */
}
  
@media (min-width: 768px) and (max-width: 1024px) {
  /* styles for tablets */
  /* ... */

  .navbar {
    display: none;
  }
  
  .hamburger-menu {
    display: block;
    cursor: pointer;
    margin-left: auto; 
  }
  
  .bar {
    width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.2s;
  }
  
  .dropdown-menu {
    position: static;
    display: none;
    margin-top: 0;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: none;
  }
  
  .dropdown > a {
    display: block;
    padding: 10px;
  }
  
  .show {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
    z-index: 1;
  }

  .text {
    display: flex;
    float: left;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .slideshow-container{
    display: flex;
    float: left;
    width: 100%;
    height: 350px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .ceo-pic {
    padding: 0%;
    margin-right: 220px;
}

}
  
@media (min-width: 800px) {
  /* styles for desktops */
  /* ... */
  
}


@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  
  .hamburger-menu {
    display: block;
    cursor: pointer;
    margin-left: auto; 
  }
  
  .bar {
    width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.2s;
  }
  
  .dropdown-menu {
    position: static;
    display: none;
    margin-top: 0;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: none;
  }
  
  .dropdown > a {
    display: block;
    padding: 10px;
  }
  
  .show {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
    z-index: 1;
  }

  .text {
    display: flex;
    float: left;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .slideshow-container{
    display: flex;
    float: left;
    width: 100%;
    height: 350px;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .ceo-pic {
  padding: 0%;
  margin-right: 50px;
}
}